# Prerequisites
*.d

# Compiled Object files
*.slo
*.suo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio cache/options directory
.vs/

#Cmake build directory and binaries
.build/
.bin/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
*.pro.user.*
*.autsave
*.autosave
.qmake.stash
Makefile
Makefile.*
game
release/
oclint.log
oclint-0.10.3/
oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz


# Csv files
*.csv
.Rproj.user

# log files from cluster
*.log
simulation_logic_only

#Data folder
project1_vG_W2016/